doctype html
html
  head
    title Research
    link(rel="icon", type="image/png", href="logo-new.png")
    link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    link(rel='stylesheet', type='text/css', href='index.css')
    meta(http-equiv="refresh" content="300")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  body   
    script(src='farmer.js', type='text/javascript')
    script(src='core.js', type='text/javascript')
    #LoginPage
        a(href='farmer.html')
            h5.login Farmer
        a(href='factory.html')
            h5.login Factory
        a(href='driver.html')
            h5.login Driver
        a(href='lab.html')
            h5.login Lab
        a(href='accountmanager.html')
            h5.login Account Manager